body { margin: 60px auto; width: 70%; }

a { text-decoration: none; color: #999; }
a:hover { text-decoration: underline; color: #5c67e7 }

p, ul { font-size: 1.5em; line-height: 1.4em; color: #333; }

h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }

nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

footer { border-top: 1px solid #d5d5d5; font-size: .8em; }

/* Blog */
ul.posts { 
  font-size: 1em; 
  list-style: none;
  padding: 32px;
  display: inline;
}

ul.posts li { 
  border: solid 2px; 
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 2px 16px;
  border-radius: 5px;
  display: inline;
  margin: 20px; 
}

ul.posts li:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

/* CV */
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 3em; }
.cv h2 { font-size: 2em; }
.cv address, .cv .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.cv address, .cv p { font-size: 1.2em; }
.cv .download { float: right; font-size: .8em; text-transform: uppercase; }
.cv projects{ font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.cv projects { font-size: 1.2em; }

#progressBar {
    width: 100%;
    background-color: grey;
    border-radius: 8px;
  }
  
#mark90 {
  width: 90%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center; 
  line-height: 30px;
  color: white; 
  border-radius: 8px;
}

#mark87 {
  width: 87%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center; 
  line-height: 30px;
  color: white; 
  border-radius: 8px;
}

#mark94 {
  width: 94%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center; 
  line-height: 30px;
  color: white; 
  border-radius: 8px;
}

#mark97 {
  width: 97%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center; 
  line-height: 30px;
  color: white; 
  border-radius: 8px;
}