body{
  font-family: 'Helvetica', Arial, Sans-serif;
  color: #404040;
}
/* colors */
.green{background: #b8c765;}
.yellow{background: #ede487;}
.red{background: #dd5c5c;}
.blue{background: #5c90dd;}

/* percents */
.ten{width: 10%;}
.twenty{width: 20%;}
.thirty{width: 30%;}
.forty{width: 40%;}
.fifty{width: 50%;}
.sixty{width: 60%;}
.seventy{width: 70%;}
.eighty{width: 80%;}
.ninety{width: 90%;}
.onehundred{width: 100%;}

.left{float: left;}

ol,ul {
	list-style: none;
}

#mainMenu {
	margin: 10px;
	width: 900px;
	font-family: sans-serif;
}

#mainMenu li {
	display:block;
	width:120px;
	float:left;
	margin-left:2px;
	border:1px solid #000;
}

#mainMenu a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color:#009;
}

#mainMenu a:hover {
	background-color:#009;
	color:#fff;
}
