<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon-16x16.png">
    
  </head>


  <body>
    <nav>
      <div class="navbar">
        <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="/about"><i class="fa fa-fw fa-address-card"></i> About</a>
        <a href="/cv/CV_Leonardo_Poggiani.pdf"><i class="fa fa-fw fa-download"></i> Download CV</a>
        <a href="/notes"><i class="fa fa-fw fa-clipboard"></i> Notes</a>
        <a href="#"> <i class="fa fa-fw fa-cloud-moon"></i> Dark mode</a>
      </div>
    </nav>
    
    <div class="container">

      {{ content }}

    </div>
  
    <footer>
      <ul>
        <li><a href="mailto:leonardo.poggiani@gmail.com">email</a></li>
        <li><a href="https://github.com/leonardopoggiani">github.com/leonardopoggiani</a></li>
      </ul>
    </footer>
  </body>

</html>
